* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
}

.header {    
    background-color: #111111dc;    
}

.links {
    gap: 50px;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: white;
    text-decoration: none;
}

.links-navbar a {
    text-decoration: none;
    color: #087021;
}

.first_container {
    color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 10px;
    height: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 10px;
}

.navbar {    
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.logo-div {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    align-items: center;
}

.links-navbar {
    width: 438px;
    display: flex;
    gap: 12px;
    align-items: center;
    white-space: nowrap;
}

.logo {
    width: 50px;
}

.logo2 {
    width: 200px;
}

.fotoInput {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.imagen-superpuesta {
    width: 100%;
    height: auto;
}

.input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    display: inline-block;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 25px 50px 30px 50px;
    border-radius: 3.2px;
    background-color: rgba(255, 255, 255, 0.404);
    width: 800px;

}

.input-superpuesto {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
}

.icono-busqueda {
    position: absolute;
    top: 50%;
    right: 10px; /* Ajusta el espaciado según tus necesidades */
    transform: translateY(-50%);
    color: white; /* Ajusta el color según tus necesidades */
    cursor: pointer; /* Agrega un cursor cuando se pasa por encima */
}

.label-superpuesto {
    color: white;
}

.titulo {
    margin-top: 30px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.cajas {
    box-sizing: border-box;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 50px;
}

.box {
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;    
    width: 300px;
    line-height: 2;
    height: 220px;
    box-shadow: rgba(38, 38, 38, 0.2) 0 4px 8px;
    border: 1px solid #ccc;
    padding: 20px;
    white-space: nowrap;
    margin-bottom: 10%;
}

ul {
    list-style: none;
}

ul li {
    color: #087021;
}